.button {
  padding: 0.5em 0.75em;
  background: #3939fc;
  color: #fff;
  font-size: 1.25rem;
  outline: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease all;
}

.button:hover {
  background: #17171f;
}

.title_purple {
  color: #3939fc;
}
